<div class="col-sm-4">
    <div class="card" >

        <h3 class="card-header card-title">
            Heading
        </h3>

        <div class="card-body" >
            Body
        </div>

        <div class="card-footer">
            Footer [{{M.message}}]
        </div>
    </div>

</div>


<!-- Prawy panel -->
<div class="col-sm-8">
    <div class="card" >

        <h3 class="card-heade card-title">
            Heading
        </h3>

        <div class="card-body" >
            Body
        </div>

        <div class="card-footer">
            Footer
        </div>
    </div>
</div>