<div class="col-md-2 col-12">
A
</div>

<div class="col-md col">
    
    <form action="" method="POST"> 
    
    <div class="form-group">
        <label for="email">Adres email</label>
        <input name="email" type="email" class="form-control" />
    </div>
    
    <div class="form-group">
        <label for="tel">Telefon</label>
        <input name="telefon" class="form-control" type="tel" pattern="(\+48|\+49)([0-9 -]{9,16})" required="required" />
    </div>
    
    <div class="form-group">
        <label for="mess">Wiadomość</label>
        <textarea name="mess" class="form-control"></textarea>
    </div>
    
    <div class="row">
        <div class="col text-left">
            
        </div>
        <div class="col text-right">
            <input type="submit" value="Wyślij" class="btn btn-primary" />
        </div>
    </div>
        
    </form>
    
</div>

<div class="col-md-2 col-2">
C
</div>

